In [8]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd

In [9]:
# Create the connection engine
engine = create_engine("sqlite:///../Resources/database.sqlite")

In [10]:
# Create the inspector and connect it to the engine
Base = automap_base()
Base.prepare(engine, reflect = True)
Base.classes.keys()

['Salaries']

In [11]:
# Collect the names of tables within the database
pay = Base.classes.Salaries
s = Session(engine)
all = s.query(pay)
print(all)

SELECT "Salaries"."Id" AS "Salaries_Id", "Salaries"."EmployeeName" AS "Salaries_EmployeeName", "Salaries"."JobTitle" AS "Salaries_JobTitle", "Salaries"."BasePay" AS "Salaries_BasePay", "Salaries"."OvertimePay" AS "Salaries_OvertimePay", "Salaries"."OtherPay" AS "Salaries_OtherPay", "Salaries"."Benefits" AS "Salaries_Benefits", "Salaries"."TotalPay" AS "Salaries_TotalPay", "Salaries"."TotalPayBenefits" AS "Salaries_TotalPayBenefits", "Salaries"."Year" AS "Salaries_Year", "Salaries"."Notes" AS "Salaries_Notes", "Salaries"."Agency" AS "Salaries_Agency", "Salaries"."Status" AS "Salaries_Status"
FROM "Salaries"

In [12]:
str(s.query(pay.BasePay).statement)

'SELECT "Salaries"."BasePay" \nFROM "Salaries"'

In [18]:
alldf = pd.read_sql(all.statement, s.bind)
alldf.head()

TypeError: must be real number, not str

In [ ]:
# Using the inspector to print the column names within the 'Salaries' table and its types