In [25]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd

In [26]:
# Create the connection engine
engine = create_engine("sqlite:///../Resources/database.sqlite")

In [27]:
# Create the inspector and connect it to the engine
Base = automap_base()
Base.prepare(engine, reflect = True)
Base.classes.keys()

['Salaries']

In [28]:
# Collect the names of tables within the database
pay = Base.classes.Salaries
s = Session(engine)
all = s.query(pay)
print(all)

SELECT "Salaries"."Id" AS "Salaries_Id", "Salaries"."EmployeeName" AS "Salaries_EmployeeName", "Salaries"."JobTitle" AS "Salaries_JobTitle", "Salaries"."BasePay" AS "Salaries_BasePay", "Salaries"."OvertimePay" AS "Salaries_OvertimePay", "Salaries"."OtherPay" AS "Salaries_OtherPay", "Salaries"."Benefits" AS "Salaries_Benefits", "Salaries"."TotalPay" AS "Salaries_TotalPay", "Salaries"."TotalPayBenefits" AS "Salaries_TotalPayBenefits", "Salaries"."Year" AS "Salaries_Year", "Salaries"."Notes" AS "Salaries_Notes", "Salaries"."Agency" AS "Salaries_Agency", "Salaries"."Status" AS "Salaries_Status"
FROM "Salaries"

In [39]:
inspector = inspect(engine)

In [40]:
columns = inspector.get_columns('Salaries')
for column in columns:
    print(column["name"], column["type"])

Id INTEGER
EmployeeName TEXT
JobTitle TEXT
BasePay NUMERIC
OvertimePay NUMERIC
OtherPay NUMERIC
Benefits NUMERIC
TotalPay NUMERIC
TotalPayBenefits NUMERIC
Year INTEGER
Notes TEXT
Agency TEXT
Status TEXT

In [41]:
engine.execute('SELECT * FROM Salaries LIMIT 10').fetchall()

[(1, 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 167411.18, 0, 400184.25, '', 567595.43, 567595.43, 2011, '', 'San Francisco', ''),
 (2, 'GARY JIMENEZ', 'CAPTAIN III (POLICE DEPARTMENT)', 155966.02, 245131.88, 137811.38, '', 538909.28, 538909.28, 2011, '', 'San Francisco', ''),
 (3, 'ALBERT PARDINI', 'CAPTAIN III (POLICE DEPARTMENT)', 212739.13, 106088.18, 16452.6, '', 335279.91, 335279.91, 2011, '', 'San Francisco', ''),
 (4, 'CHRISTOPHER CHONG', 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 77916, 56120.71, 198306.9, '', 332343.61, 332343.61, 2011, '', 'San Francisco', ''),
 (5, 'PATRICK GARDNER', 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 134401.6, 9737, 182234.59, '', 326373.19, 326373.19, 2011, '', 'San Francisco', ''),
 (6, 'DAVID SULLIVAN', 'ASSISTANT DEPUTY CHIEF II', 118602, 8601, 189082.74, '', 316285.74, 316285.74, 2011, '', 'San Francisco', ''),
 (7, 'ALSON LEE', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 92492.01, 89062.9, 134426.14, '', 315981.05, 315981.05, 2011, '', 'San Francisco', ''),
 (8, 'DAVID KUSHNER', 'DEPUTY DIRECTOR OF INVESTMENTS', 256576.96, 0, 51322.5, '', 307899.46, 307899.46, 2011, '', 'San Francisco', ''),
 (9, 'MICHAEL MORRIS', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 176932.64, 86362.68, 40132.23, '', 303427.55, 303427.55, 2011, '', 'San Francisco', ''),
 (10, 'JOANNE HAYES-WHITE', 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 285262, 0, 17115.73, '', 302377.73, 302377.73, 2011, '', 'San Francisco', '')]

In [30]:
str(all.statement)

'SELECT "Salaries"."Id", "Salaries"."EmployeeName", "Salaries"."JobTitle", "Salaries"."BasePay", "Salaries"."OvertimePay", "Salaries"."OtherPay", "Salaries"."Benefits", "Salaries"."TotalPay", "Salaries"."TotalPayBenefits", "Salaries"."Year", "Salaries"."Notes", "Salaries"."Agency", "Salaries"."Status" \nFROM "Salaries"'

In [32]:
alldf = pd.read_sql(all.statement, s.bind)
alldf.head()

TypeError: must be real number, not str

In [ ]:
# Using the inspector to print the column names within the 'Salaries' table and its types