### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [98]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [99]:
# Calculate the Number of Unique Players
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]

# Display the total number of players
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [100]:
price_count = purchase_data["Price"].count()
price_avg = purchase_data["Price"].mean()
price_total = purchase_data["Price"].sum()
unique_items = len(purchase_data["Item ID"].unique())
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,
                              "Number of Purchases": [price_count],
                              "Average Price": [price_avg],
                              "Total Revenue": [price_total]})

summary_table

   Number of Unique Items  Number of Purchases  Average Price  Total Revenue
0                     183                  780       3.050987        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [101]:
gender_totals = purchase_data["Gender"].value_counts()
gender_percents = gender_totals / total_players * 100
gender_demographics = pd.DataFrame({"Total Count": gender_totals, "Percentage of Players": gender_percents})
gender_demographics

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other / Non-Disclosed           15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [102]:
# Run basic calculations
purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_totals = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
avg_pt = gender_purchase_total / gender_demographics["Total Count"]
gender_data = pd.DataFrame({"Purchase Count": gender_totals, "Average Purchase Price": gender_average, "Total Purchase Value": purchase_total, "Average Purchase Total per Person by Genders": avg_pt})
gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Genders
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [103]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 99999]
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29","30+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_ranges)
purchase_data
age_group = purchase_data.groupby("Age Group")
total_age = age_group["SN"].nunique()
percentage_by_age = (total_count_age/total_players) * 100
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_age})
age_demographics

       Percentage of Players  Total Count
<10                 2.179487           17
10-14               2.820513           22
15-19              13.717949          107
20-24              33.076923          258
25-29               9.871795           77
30+                12.179487           95

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
purchase_count = age_grouped["Purchase ID"].count()
avg_pp = age_grouped["Price"].mean()
total_pv = age_grouped["Price"].sum()
avg_purchase = total_purchase_value/total_count_age
age_demographics = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_pp,
                                 "Total Purchase Value":total_pv,
                                 "Average Purchase Total per Person": avg_purchase})
age_demographics

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30+,127,3.148898,399.91,4.209579

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [105]:
SN_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
price_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
purch_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
user_data = pd.DataFrame({"Total Purchase Value": SN_total, "Average Purchase Price": price_average, "Purchase Count": purch_count})
user_data.sort_values("Total Purchase Value", ascending=False).head(5)

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [106]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
stats = items.groupby(["Item ID","Item Name"])
purchase_count = stats["Price"].count()
purchase_value = (stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item
mp_items = pd.DataFrame({"Purchase Count": purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
popular_formatted = mp_items.sort_values(["Purchase Count"], ascending=False)
popular_formatted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

# Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [107]:
popular_formatted = mp_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popular_formatted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80