In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# DataFrame should frave 3 columns: Frame, Price, and Sales AND 5 rows of data
frame_df = pd.DataFrame([
    {"Frame": "wood", "price":25,
    "popularity":"Very"}.
    {"Frame":"Steel", "price":45,
    "popularity":"Very"}
]

SyntaxError: invalid syntax (<ipython-input-2-69ceb287a4ec>, line 5)

In [3]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1